<?xml version="1.0" encoding="utf-8" ?>
<Kis>
  <Module>
    <Modul>
      <name>Modul1.dll</name>
      <Form>MemberModulForm1</Form>
    </Modul>
    <Modul>
      <name>Modul2.dll</name>
      <Form>MemberModulForm2</Form>
    </Modul>
    <Modul>
      <name>Modul3.dll</name>
      <Form>MemberModulForm3</Form>
    </Modul>
    <Modul>
      <name>Modul4.dll</name>
      <Form>MemberModulForm4</Form>
    </Modul>
    <Modul>
      <name>Modul5.dll</name>
      <Form>MemberModulForm5</Form>
    </Modul>
  </Module>
</Kis>
